@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.container {
  width: 100%;
  max-width: 100%; /* Ensures the container doesn't exceed the viewport width */
  overflow-x: hidden; /* Prevents horizontal scrolling */
}

@media (max-width: 640px) {
  .container {
    padding: 0 10px; /* Adjust padding for smaller screens */
    box-sizing: border-box; /* Ensures padding doesn't increase width */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(27, 27, 27);
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

